{% extends 'base.html.twig' %}

{% block body %}
{#    <p> Saison {{ season.number }} </p>
    {% for episode in episodes %}
       <h1>
            <a href="{{ path('wild_show_program', {'programName': hyphenizedTitles[loop.index - 1] }) }}">
                {{ episode.title }}
            </a>
        </h1>#}
<h1>
    {{ program.title }} - Season {{ season.number }}
</h1>
<p>
    {{ season.description }}
</p>
<h2>
    Episodes list:
</h2>
<ul>
    {% for episode in episodes %}
        <li>
            <a href="{{ path('wild_show_episode', {id: episode.id}) }}">
                <b>
                    {{ episode.number }} / {{ episode.title }}
                </b>
            </a>
            <p>
                {{ episode.synopsis }}
            </p>
        </li>
    {% endfor %}

</ul>
{% endblock %}
